.task {
    background-color: #f8f9fa;
    border-radius: .25rem;
    margin-bottom: 5px;
    padding: .4rem .2rem;
}

.task-form {
    padding: .65rem .6rem;
}

.task-form-description {
    margin-bottom: 0
}
